body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/020/725/461/original/international-yoga-day-font-with-back-view-of-young-woman-sitting-in-meditation-pose-on-gradient-blue-abstract-nature-background-vector.jpg");
}
.container{
    width: 500px;
    height: 70px;
    border-radius: 20px;
    box-shadow: 2px 3px 5px black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap:wrap;
    align-items: center;
    background-color: rgba(28, 49, 41, 0.767);
    margin-top: 20px;
}
.logo{
    width: 150px;
    height: 50px;
    flex-grow: 7;
}
.main{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    text-shadow: 2px 3px 5px black;
    letter-spacing: 2px;
}
.sub{
    color: white;
    font-weight: bold;
    margin-top: -20px;
    font-size: 10px;
    margin-left: 8px;
    letter-spacing: 3px;
}
ul{
    display: flex;
  flex-wrap:wrap;
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px !important;
    width: 500px;
    height: 50px;
}
li a{
    text-decoration: none;
    margin-right: 30px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px !important;
}
.subsec{
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.heading{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 6px;
    font-style: italic;
    text-shadow: 2px 4px 6px black;
}
.subheading{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 8px;
    font-size: 25px;
    margin-top: -20px;
}
.butt{
    .button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
}
.butt:hover{
    background-color:rgba(28, 49, 41, 0.767);
}